:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}


.box__content {
  background-color: var(--grey);
  border-radius: 11px;
  margin-top: 5px;
  padding: 25px 15px 15px 15px;
}

.head__box {
  display: block;
  /* justify-content: space-between; */
  align-items: center;
  padding: 15px 10px;
  border-radius: 10px;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
}

.head__box h3 {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.head__box .buttons {
  display: flex;
}

.btn {
  margin: 0 10px;
  padding: 9px 16px;
  outline: none;
  border: none;
  border: 5px;
  border-radius: 6px;
  color: var(--grey);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.btn__black {
  background-image: linear-gradient(
    110.3deg,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  );
}

.head__box {
  border-radius: 10px;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
}

.head__box h3 {
  font-size: 17px;
  color: white;
  font-weight: bold;
}
.head_new2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 5px;
  text-align: center;
  border-bottom: 2px solid var(--blue);
}
.content_new2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: 15px 0;
  gap: 0 5px;
  text-align: center;
  padding: 5px 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
}
.content_new3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin: 15px 0;
  gap: 0 5px;
  text-align: center;
  padding: 5px 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
}
.listCall {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
}

.head_new {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 5px;
  text-align: center;
  border-bottom: 2px solid var(--blue);
}
.head_new3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 5px;
  text-align: center;
  border-bottom: 2px solid var(--blue);
}
.head_new4 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 5px;
  text-align: center;
  border-bottom: 2px solid var(--blue);
}
h4 {
    margin: 7px 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-grey);
}
.head_new4 span {
  font-size: 13px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
}
.head_new3 span {
  font-size: 13px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
}
.head_new2 span {
  font-size: 13px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
}
.head_new span {
  font-size: 13px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
}
.head_new2 span {
  font-size: 13px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
}
.head_new span {
  font-size: 13px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
}

.content_new {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
  margin: 15px 0;
  gap: 0 5px;
  text-align: center;
  padding: 5px 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
}
.content_new4 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin: 15px 0;
  gap: 0 5px;
  text-align: center;
  padding: 5px 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
}
.content_new4 span {
  font-size: 15px;
  text-align: center;
  color: var(--red);
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 400;
}
.content_new2 span {
  font-size: 15px;
  text-align: center;
  color: var(--red);
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 400;
}
.content_new3 span {
  font-size: 15px;
  text-align: center;
  color: var(--red);
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 400;
}
.content_new span {
  font-size: 15px;
  text-align: center;
  color: var(--red);
  width: 100%;
  color: var(--dark-grey);
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 400;
}

.editBtn {
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: right;
}
.editBtn:hover {
  background-color: #d0e4ff;
}
.loading__tb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.dates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  margin: 10px 0;
}

.dates input {
  border: none;
  outline: none;
  padding: 5px 3px;
  border-radius: 5px;
  color: var(--dark-grey);
}

.loading__tb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.charts {
  margin-top: 15px;
}

.chart {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
}

.chart h5 {
  color: var(--dark-grey);
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (width <= 600px) {
  .newsboard {
      padding: 5px;
      margin-top: 5px;
  }
  
  .reportDate .title {
      font-size: 13px;
      margin-bottom: 10px;
      font-weight: bold;
      color: var(--blue);
  }
  
  .dates {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     width: 200px;
     gap: 10px;
     margin-bottom: 15px;
     align-items: center;
  }
  
  .dates input {
      border: none;
      outline: none;
      padding: 5px 3px;
      width: 100px;
      border-radius: 5px;
      color: var(--dark-grey);
  }
  
  .statistical h4{
      color: var(--dark-grey);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
  }
  
  .contents {
      padding: 7px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 5px;
  }
  
  .content {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      width: 100%;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
  }
  
  .content strong {
      font-size: 12px;
      text-transform: uppercase;
      color: var(--dark-grey);
  }
  
  .content h2 {
      color: var(--red);
      font-weight: bold;
      font-size: 12px;
  }
  
  .charts {
      margin-top: 15px;
  }
  
  .chart {
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      margin: 10px 0;
  }
  
  .chart h5 {
      color: var(--dark-grey);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
  }
  
}