.formmoal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100066600006;
    background-color: rgba(0, 0, 0, 0.51);
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 10px 0;
    align-items: center;
    transition: 0.4s;

    .btn__calto {
        margin: 15px 5px;
        padding: 10px 10px;
        background-color: var(--blue);
        color: white;
        border-radius: 5px;
        outline: none;
        border: none;
        outline: none;
        border: 1px solid var(--light);
      }
}